<app-loading *ngIf="loadingArtist"></app-loading>

<div class="row animated fadeIn" *ngIf="!loadingArtist">
    <div class="col-2">
        <img [src]="artista.images | noImages" class="img-thumbnail img-circle">
    </div>

    <div class="col-3">
        <h3>{{ artista.name }}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
                Ir a la página del artista
            </a>
        </p>
    </div>

    <div class="col-4 text-right">
        <!--redireccionar-->
        <button routerLink="/search" class="btn btn-outline-danger">
            Regresar
        </button>
    </div>

</div>

<div class="m-5">
    <div class="row">
        <div class="col-12">
            <div class="table">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Álbum</th>
                        <th>Canción</th>
                        <th>Vista previa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pistas of topTracks">
                        <td> <img [src]="pistas.album.images | noImages" class="img-thumb"> </td>
                        <td>{{ pistas.album.name }}</td>
                        <td>{{ pistas.name }}</td>
                        <td>
                            <iframe [src]="pistas.uri | domseguro " width="300" height="80" frameborder="0"
                                allowtransparency="true" allow="encrypted-media"></iframe>
                        </td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>